# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js build outputs
.next/
out/

# Environment variables
.env.local
.env.*.local
!.env.example
!.env.example.local

# turbo
.turbo

# Coverage directory
coverage

# PNPM
.pnpm-store

# OSX
.AppleDouble
.LSOverride

# Folders to ignore
.firebase
.cache

# Compiled TypeScript files
*.tsbuildinfo
next-env.d.ts

# IDX specific files
.idx/
!.idx/aicode.config.yaml
